h1
{
  font-family: Quicksand, sans-serif;
  margin: 0;
  padding-top: 5%;
  color: deepskyblue;
}
h2
{
  font-family: Quicksand, sans-serif;
  margin: 0;
  padding-top: 5%;
  color: gainsboro;
}
span
{
  color: gainsboro
}
select
{
  color: deepskyblue;
  margin-left: 5%;
  background-color: rgba(0,0,0,.15);
  font-size: 12px;
}
#whop
{
  padding-left: 5%;
  font-size: 24px;
  color: deepskyblue;
}
#git
{
  padding-left: 50%;
  font-size: 18px;
}
a:hover
{
  text-decoration: underline;
}
#contact
{
  padding-left: 5%;
  color: #0bf800;
  text-decoration: none;
  font-size:15px
}
#contact:hover
{
  text-decoration: underline;
}
#whop span a
{
  color: #0bf800;
  text-decoration: none;
}
#whyp
{
  text-align: justify;
  padding: 1vh;
}
button
{
  font-family: Quicksand, sans-serif;
  background-color: transparent;
  color: gainsboro;
  font-size: 1rem;
  padding: 1rem 2rem;
  transition-property: font-size padding;
  transition-duration: .3s
}
button:hover
{
  padding: .5rem 1rem;
  color: orchid;
  text-shadow: .5px .5px black;
  font-size: 18px;
  background: black
}



.button-selected
{
  background-color: black;
  color: deepskyblue;
}
.border-gradient {
  border-image-slice: 1;
  border-width: 3px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.mini-section-container
{
  font-family: Quicksand, sans-serif;
  color: deepskyblue;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  border-radius: 15px;
  width: fit-content;
  margin: auto;
  padding: 2vh;
  background-color: #303030
}
.section-container
{
  font-family: Quicksand, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  border-radius: 15px;
  max-width: 81%;
  margin: auto;
  padding: 3vh;
  padding-top: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.75);
  background-color: #303030
}
.baby-border-div
{
  margin: 2vh;
  border-radius: 12px;
  background: rgb(111,8,171);
  background: linear-gradient(300deg, rgba(111,8,171,0.93) 0%, rgba(19,255,248,1) 33%, rgba(244,141,126,1) 66%, rgba(0,212,255,1) 99%);
  padding: 2px;
}
.baby-border-div>div
{
  padding: 6px;
  border-radius: 12px;
  background: #303030
}

.border-div
{
  margin-top, margin-bottom: 1vh;
  border-radius: 12px;
  background: rgb(111,8,171);
  background: linear-gradient(300deg, rgba(111,8,171,0.93) 0%, rgba(19,255,248,1) 33%, rgba(244,141,126,1) 66%, rgba(0,212,255,1) 99%);
  padding: 2px;
}
.border-div>div
{
  padding: 6px;
  border-radius: 12px;
  background: #303030
}
.title
{
  margin: 0;
  align-self: center;
  text-align: center
}

/* tooltip stuff */
.tooltip {
  color: black;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: rgba(0,0,0,.66);
  color: #fff;
  font-family: "courier new", sans-serif;
  font-size: 12px;
  text-align:left;
  border-radius: 6px;
  padding: 5px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
  box-shadow: 0 1px 2px 0 rgba(255,255,255,.75)
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* end tooltip stuff */
